body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

hr{
    margin: 40px;
}

.ativo {
    font-weight: bold;
}

a:active {
    color: blue;
  }

.flex {
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

