body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

hr{
    margin: 40px;
}

.ativo {
    font-weight: bold;
}

a:active {
    color: blue;
  }

.flex {
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.home{
    width: 90%;
    margin: 0 auto;
}

.titulo{
    font-weight: normal;
    font-size: 37px;
    color: #F7941D;
    margin-bottom: 30px;
    line-height: 43px;
    margin-top: 43px;
}

