body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a{
    color: black;
}

a:active {
    color: blue;
  }

.flex {
    display: flex;
}

.menu {
    flex-direction: column;
}

.logo-menu {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.container-menu__items {
    text-align: center;
}

.menu-items {
    padding-bottom: 10px;
}

.menu-items:hover {
    font-weight: bold;
    cursor: pointer;
}

.ativo {
    font-weight: bold;
}