.dados-basicos{
    background-color: #3a6da1;
    padding: 15px 0px 15px 0px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.dados-basicos__center{
    margin: 0 auto;
}

.dados-basicos__gap{
    gap: 40px;
}

.dados-basicos__endereco{
    line-height: 25px;
}

.dados-basicos__icone{
    width: 20px;
    margin-right: 5px;
}

.dados-basicos__atendimento{
    text-align: -webkit-left;
    line-height: 25px;
}