.rodape{
    background-color: #EA6230;
    color: #fff;
    padding: 25px 0px 25px 0px;
    justify-content: space-around;
    font-size: 11px;
}

.rodape-alin__text{
    align-self: center;
}
.rodape-color{
    color: #fff;
}

.rodape-sociais{
    gap: 7px;
}

.rodape-portal{
    margin-top: 10px;
}


.rodape-WebMail::after{
    content: " |";
}
