.menu{
    background-image: url(../assets/img/fundo-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-menu {
    width: 300px;
    height: 200px;
    margin: 0 auto;
}

.container-menu__items {
    text-align: center;
}

.menu-items {
    padding-bottom: 10px;
}

.menu-items:hover {
    font-weight: bold;
    cursor: pointer;
}

.ativo {
    font-weight: bold;
}

.container-texto__senac{
    width: 80%;
    margin: 0 auto;
}

.container-vantagens{
    margin: 0 auto;
      width: 19%;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
}

.autor{
    font-weight: bold;
}
