.home{
    width: 80%;
    margin: 0 auto;
}

.titulo{
    font-weight: normal;
    font-size: 37px;
    color: #F7941D;
    margin-bottom: 30px;
    line-height: 43px;
}

.container-texto__senac{
    width: 80%;
    margin: 0 auto;
}

.container-vantagens{
    margin: 0 auto;
      width: 19%;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 20px;
}

.autor{
    font-weight: bold;
}
